{% extends "poll/base.html" %} 
{% block title %}Online Voting System{%endblock%} 
{% block content %}
<br>
<div class="jumbotron">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  <h1 class="display-4 d-flex justify-content-center">
    Welcome to Jkuat Online Voting System
  </h1>
  <hr class="my-4 bg-dark d-flex justify-content-center" style="height: 2px" />
  <div class="d-flex justify-content-center">
    <img
      src=https://cdn.standardmedia.co.ke/images/thursday/kdylkpuf7nizw615f5358babe6.jpg
      alt="Ballot Box"
      width="300"
      height="300"
    />
  </div>

  <hr class="my-5 bg-dark d-flex justify-content-center" style="height: 2px" />

  <p class="lead d-flex justify-content-center">
    Welcome to our inclusive and secure university voting system
           where your voice matters and your vote counts.
  </p>
  <p class="lead d-flex justify-content-center">
    Admin adds candidates and post the election.
  </p>
  <p class="lead d-flex justify-content-center">
    User can vote for the candidates.
  </p>
</div>

<style>
  body {
    background: linear-gradient(45deg, green, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>

{% endblock %}
